
@import "./styles.css";

.money-container {
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
}
.money-box {
    display: grid;
    grid-template-columns: 720px 400px;
    place-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    column-gap: 80px;
}
.steps {
    display: grid;
    grid-template-rows: 500px 100px;
    place-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    opacity: 0.9;
}
.tarif {
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.display-opt {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
}
.money-option {
    display: flex;
    column-gap: 60px;
}
.money-option img {
    width: 200px;
    height: 60px;
}
td {
  font-weight: 600;
  font-size: 18px;
}
.mtn-table img {
    width: 120px;
    height: 60px;
    margin-left: 35%;
    margin-bottom: 20px;
    border-radius: 5px;
}
.orange-table img {
    width: 120px;
    height: 60px;
    margin-left: 35%;
    margin-bottom: 20px;
    border-radius: 5px;
}
.retrait {
    width: 400px;
    height: 600px;
    opacity: 0.8;
}
.invoice {
    display: grid;
    place-items: center;
    justify-content: center;
    width: 720px;
    height: 103%;
    background-color: rgb(145, 166, 145);
    opacity: 0.9;
}
.invoice p {
   margin-top: 10px;
   font-weight: 600;
   font-size: 18px;
   text-align: center;
}